<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../css/index.css">
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <title>候选人抽取</title>
</head>
<body style="padding: 0;margin: 0;">
<el-col id="nav">
    <el-col>
        <el-menu
                :default-active="activeIndex"
                class="el-menu-demo"
                mode="horizontal"
                @select="handleSelect"
                background-color="#545c64"
                text-color="#fff"
                active-text-color="#ffd04b">
            <el-menu-item index="1">全部结果</el-menu-item>
            <el-menu-item index="2">老师结果</el-menu-item>
            <el-menu-item index="3">学生结果</el-menu-item>
            <el-menu-item index="4">随机抽取</el-menu-item>
            <el-menu-item index="5">一键随机生成结果</el-menu-item>
        </el-menu>
    </el-col>
</el-col>


<el-col :md="{span:24}" class="body" id="panel">
    <el-col :md="{span:12,offset:6}" class="panel">
        <!--all data-->

        <el-col style="text-align: right;padding-right: 20px;color:#bbb;" :md="{span:24}"
                v-show="nav.activeIndex === '1' && download">
            <a :href="PATH + '/Student/downloadTeacherExcel'"
               style="text-decoration: none;text-underline: none;cursor: pointer;font-size: 14px;line-height: 30px;">下载教师数据</a>
            &nbsp;&nbsp;&nbsp;&nbsp;
            <a :href="PATH + '/Student/downloadStudentExcel'"
               style="text-decoration: none;text-underline: none;cursor: pointer;font-size: 14px;line-height: 30px;">下载学生数据</a>
        </el-col>

        <el-col style="text-align: left;padding-left: 20px;" :md="{span:24}" v-show="nav.activeIndex === '1'">
            <el-button type="warning" @click=" resetAllTeacherData">重置所有学生数据</el-button>
            <el-button type="danger" @click=" resetAllStudentData">重置所有老师数据</el-button>
        </el-col>

        <!--teacher data-->
        <el-col :md="{span:24}" v-show="nav.activeIndex === '1' || nav.activeIndex === '2'">
            <el-col style="text-align: left;padding-left:  10px;margin-top: 10px;" v-show="nav.activeIndex === '2'">
                <el-button type="success" @click="resetAllTeacherData">重置教师数据</el-button>
            </el-col>
            <el-col class="resultTitle">
                教师抽取结果
            </el-col>
            <el-table
                    :data="randomTeacherResult"
                    border
                    style="width: 100%">
                <el-table-column
                        type="index"
                        label="序号">
                </el-table-column>
                <el-table-column
                        prop="id"
                        label="工号">
                </el-table-column>
                <el-table-column
                        prop="name"
                        label="姓名">
                </el-table-column>
                <el-table-column
                        prop="gender"
                        label="性别">
                </el-table-column>
                <el-table-column
                        prop="academy"
                        label="院系">
                </el-table-column>
                <el-table-column
                        prop="workTime"
                        label="工作时间">
                </el-table-column>
                <el-table-column
                        prop="telephone"
                        label="电话">
                </el-table-column>
            </el-table>
        </el-col>

        <!--student data-->
        <el-col :md="{span:24}" v-show="nav.activeIndex === '1'">
            <el-divider></el-divider>
        </el-col>
        <el-col :md="{span:24}" v-show="nav.activeIndex === '1' || nav.activeIndex === '3'">
            <el-col style="text-align: left;padding-left:  10px;margin-top: 10px;" v-show="nav.activeIndex === '3'">
                <el-button type="danger" @click="resetAllStudentData">重置学生数据</el-button>
            </el-col>
            <el-col class="resultTitle">
                学生抽取结果
            </el-col>
            <el-table
                    :data="randomStudentResult"
                    border
                    style="width: 100%">
                <el-table-column
                        type="index"
                        label="序号">
                </el-table-column>
                <el-table-column
                        prop="id"
                        label="工号">
                </el-table-column>
                <el-table-column
                        prop="name"
                        label="姓名">
                </el-table-column>
                <el-table-column
                        prop="gender"
                        label="性别">
                </el-table-column>
                <el-table-column
                        prop="academy"
                        label="院系">
                </el-table-column>
                <el-table-column
                        prop="className"
                        label="班级">
                </el-table-column>
                <el-table-column
                        prop="major"
                        label="专业">
                </el-table-column>
            </el-table>
            <el-col style="height: 30px;">

            </el-col>
        </el-col>

        <!--control random-->
        <el-col :md="{span:24}" v-show="nav.activeIndex === '4'">
            <el-col :md="{span:24}" style="text-align: left;padding:  10px;">
                <el-divider>随机抽取</el-divider>
                <el-col :md="{span:8}" style="text-align: left;">
                    <el-select v-model="selectAcademy" placeholder="请选择随机的院系" @change="loadAcademyTeacherStudent" style="width: 100%;">
                        <el-option
                                v-for="item in academyData"
                                :key="item"
                                :label="item"
                                :value="item">
                        </el-option>
                    </el-select>
                </el-col>
                <el-col :md="{span:8}" style="text-align: left;padding-left: 15px;">
                    <el-select v-model="selectCount" placeholder="请选择学院老师/学生抽取数量">
                        <el-option
                                v-for="item in 10"
                                :key="item"
                                :label=" '学院老师/学生抽取数量:' + item"
                                :value="item">
                        </el-option>
                    </el-select>
                </el-col>
                <el-col :md="{span:24}" style="margin:15px 0;">
                    <el-button type="primary" @click="randomStudent">随机抽取学生</el-button>
                    <el-button type="warning" @click="randomTeacher">随机抽取教师</el-button>
                    <el-button type="success" @click="resetTeacherData">重置教师数据</el-button>
                    <el-button type="danger" @click="resetStudentData">重置学生数据</el-button>
                </el-col>
            </el-col>
            <!--random result-->
            <el-col :md="{span:24}">

                <el-col :md="{span:24}">
                    <el-col class="resultTitle">
                        教师抽取结果
                    </el-col>
                    <el-col>
                        <el-table
                                :data="randomTeacherResult"
                                border
                                style="width: 100%">
                            <el-table-column
                                    type="index"
                                    label="序号">
                            </el-table-column>
                            <el-table-column
                                    prop="id"
                                    label="工号">
                            </el-table-column>
                            <el-table-column
                                    prop="name"
                                    label="姓名">
                            </el-table-column>
                            <el-table-column
                                    prop="gender"
                                    label="性别">
                            </el-table-column>
                            <el-table-column
                                    prop="academy"
                                    label="院系">
                            </el-table-column>
                            <el-table-column
                                    prop="workTime"
                                    label="工作时间">
                            </el-table-column>
                            <el-table-column
                                    prop="telephone"
                                    label="电话">
                            </el-table-column>
                        </el-table>
                    </el-col>
                    <el-col class="resultTitle">
                        学生抽取结果
                    </el-col>
                    <el-col>
                        <el-table
                                :data="randomStudentResult"
                                border
                                style="width: 100%">
                            <el-table-column
                                    type="index"
                                    label="序号">
                            </el-table-column>
                            <el-table-column
                                    prop="id"
                                    label="学号">
                            </el-table-column>
                            <el-table-column
                                    prop="name"
                                    label="姓名">
                            </el-table-column>
                            <el-table-column
                                    prop="gender"
                                    label="性别">
                            </el-table-column>
                            <el-table-column
                                    prop="academy"
                                    label="院系">
                            </el-table-column>
                            <el-table-column
                                    prop="className"
                                    label="班级">
                            </el-table-column>
                            <el-table-column
                                    prop="major"
                                    label="专业">
                            </el-table-column>
                        </el-table>
                    </el-col>
                </el-col>
            </el-col>
        </el-col>


        <!--一键生成所有数据的部分-->
        <el-col :md="{span:24}" v-show="nav.activeIndex === '5'">
            <el-col style="padding:  15px;">
                <el-button @click="randomAllData" type="primary">一键生成所有院系教师和学生数据的抽取结果</el-button>
                <el-button @click="showSaveDialog = true" :disabled="clickAble" type="warning">保存数据</el-button>
            </el-col>
            <el-col :md="{span:8}" style="text-align: left;padding-left: 15px;">
                    <el-select  v-model="selectCount" placeholder="请选择学院老师/学生抽取数量" style="width: 100%;">
                        <el-option
                                v-for="item in 10"
                                :key="item"
                                :label="'学院老师/学生抽取数量:' + item"
                                :value="item">
                        </el-option>
                    </el-select>

            </el-col>
            <el-col>
                <el-col class="resultTitle">
                    教师生成结果
                </el-col>
                <el-col>
                    <el-table
                            :data="randomTeacherResult"
                            border
                            style="width: 100%">
                        <el-table-column
                                type="index"
                                label="序号">
                        </el-table-column>
                        <el-table-column
                                prop="id"
                                label="工号">
                        </el-table-column>
                        <el-table-column
                                prop="name"
                                label="姓名">
                        </el-table-column>
                        <el-table-column
                                prop="gender"
                                label="性别">
                        </el-table-column>
                        <el-table-column
                                prop="academy"
                                label="院系">
                        </el-table-column>
                        <el-table-column
                                prop="workTime"
                                label="工作时间">
                        </el-table-column>
                        <el-table-column
                                prop="telephone"
                                label="电话">
                        </el-table-column>
                    </el-table>
                </el-col>
                <el-col class="resultTitle">
                    学生生成结果
                </el-col>
                <el-col>
                    <el-table
                            :data="randomStudentResult"
                            border
                            style="width: 100%">
                        <el-table-column
                                type="index"
                                label="序号">
                        </el-table-column>
                        <el-table-column
                                prop="id"
                                label="工号">
                        </el-table-column>
                        <el-table-column
                                prop="name"
                                label="姓名">
                        </el-table-column>
                        <el-table-column
                                prop="gender"
                                label="性别">
                        </el-table-column>
                        <el-table-column
                                prop="academy"
                                label="院系">
                        </el-table-column>
                        <el-table-column
                                prop="className"
                                label="班级">
                        </el-table-column>
                        <el-table-column
                                prop="major"
                                label="专业">
                        </el-table-column>
                    </el-table>
                </el-col>
            </el-col>

            <el-dialog
                    title="提示"
                    :visible.sync="showSaveDialog"
                    width="40%">
                <span>保存一键生成数据将清除之前的抽取结果，是否继续？</span>
                <div slot="footer" class="dialog-footer">
                    <el-button @click="showSaveDialog = false">取 消</el-button>
                    <el-button type="primary" @click="saveAllRandomResult">确 定</el-button>
                </div>
            </el-dialog>
        </el-col>
    </el-col>
</el-col>

<el-col :md="{span:24}" id="footer">
    <el-col :md="{span:24}">
        <div class="footer">
            版权所有
            <a href="https://baike.baidu.com/item/%E6%B1%9F%E8%A5%BF%E5%86%9C%E4%B8%9A%E5%A4%A7%E5%AD%A6%E8%BD%AF%E4%BB%B6%E5%AD%A6%E9%99%A2%E9%9D%92%E8%97%A4%E5%B7%A5%E4%BD%9C%E5%AE%A4"
               target="_blank" style="color: rgb(204, 204, 204);">江西农业大学软件学院青藤工作室</a>
            ©青藤设计
        </div>
    </el-col>
</el-col>


<script src="https://cdn.jsdelivr.net/npm/vue@2.6.0"></script>
<!-- 引入样式 -->
<!-- 引入组件库 -->
<script src="https://unpkg.com/element-ui/lib/index.js"></script>
<script src="https://unpkg.com/axios@0.19.0/dist/axios.min.js"></script>
<script src="https://cdn.bootcss.com/qs/6.7.0/qs.min.js"></script>
<script type="text/javascript">

    let PATH = "http://localhost:8080/RandomJudge";

    let qs = Qs;

    //导航栏结果
    const nav = new Vue({
        el: '#nav',
        data: {
            activeIndex: "4"
        },
        methods: {
            handleSelect(index) {
                nav.activeIndex = index;
                switch (index) {
                    case '1':
                        panel.loadAllSelectTeacher();
                        panel.loadAllSelectStudent();
                        break;
                    case '2':
                        panel.loadAllSelectTeacher();
                        break;
                    case '3':
                        panel.loadAllSelectStudent();
                        break;
                    case '4':
                        panel.loadAllAcademy();
                        break;
                    case "5":

                        break;
                    default:
                        break;
                }
            }
        }
    });


    const panel = new Vue({
            el: "#panel",
            data: {
                selectData: [],
                academyData: [],
                selectAcademy: "",
                randomTeacherResult: [],
                randomStudentResult: [],
                clickAble: true,
                showSaveDialog: false,
                download: false,
                selectCount: 3
            },
            methods: {
                //加载不同类型的数据
                loadTypeSelectData() {

                },
                randomStudent() {
                    if (panel.selectAcademy === "" || panel.selectCount === undefined || panel.selectCount === 0) {
                        this.$message({
                            type: "warning",
                            message: "请选择院系"
                        });
                        return;
                    } else if (panel.randomStudentResult.length !== 0) {
                        this.$message({
                            type: "warning",
                            message: "你已经抽取了学生"
                        });
                        return;
                    }
                    axios.get(PATH + "/Student/randomAcademyStudent", {
                        params: {
                            academy: panel.selectAcademy,
                            randomCount: panel.selectCount
                        }
                    }).then((success) => {
                        let res = success.data;
                        if (res.result) {
                            if (panel.randomStudentResult.length === 0) {
                                panel.randomStudentResult = res.data;
                            } else {
                                panel.randomStudentResult.concat(res.data);
                            }
                        } else {
                            this.$message({
                                type: "warning",
                                message: res.message
                            });
                        }
                    }).catch((error) => {
                        console.log(error);
                        this.$message({
                            type: "error",
                            message: "请求异常"
                        });
                    })
                },
                randomTeacher() {
                    if (panel.selectAcademy === "" || panel.selectCount === undefined || panel.selectCount === 0) {
                        this.$message({
                            type: "warning",
                            message: "请选择院系"
                        });
                        return;
                    } else if (panel.randomTeacherResult.length !== 0) {
                        this.$message({
                            type: "warning",
                            message: "你已经抽取了老师"
                        });
                        return;
                    }
                    axios.get(PATH + "/Teacher/randomAcademyTeacher", {
                        params: {
                            academy: panel.selectAcademy,
                            randomCount: panel.selectCount
                        }
                    }).then((success) => {
                        let res = success.data;
                        if (res.result) {
                            this.$message({
                                type: "success",
                                message: "获取成功"
                            });
                            if (panel.randomTeacherResult.length === 0) {
                                panel.randomTeacherResult = res.data;
                            } else {
                                panel.randomTeacherResult.concat(res.data);
                            }
                        } else {
                            this.$message({
                                type: "warning",
                                message: res.message
                            });
                        }
                    }).catch((error) => {
                        console.log(error);
                        this.$message({
                            type: "warning",
                            message: "请求异常"
                        });
                    })
                },
                loadAllAcademy() {
                    axios.get(PATH + "/Student/findAllAcademy").then((success) => {
                        let res = success.data;
                        if (res.result) {
                            panel.academyData = res.data;
                        } else {
                            this.$message({
                                type: "warning",
                                message: res.message
                            });
                        }
                        panel.randomTeacherResult = [];
                        panel.randomStudentResult = [];
                    }).catch((error) => {
                        console.log(error);
                        this.$message({
                            type: "warning",
                            message: "请求异常"
                        });
                    })
                },
                loadAcademyTeacherStudent() {
                    this.loadAcademyStudent();
                    this.loadAcademyTeacher();
                },
                loadAcademyTeacher() {
                    axios.get(PATH + "/Teacher/findAcademySelectTeacher", {
                        params: {
                            academy: this.selectAcademy
                        }
                    }).then((success) => {
                        let res = success.data;
                        if (res.result) {
                            panel.randomTeacherResult = res.data;
                        } else {
                            panel.randomTeacherResult = [];
                        }
                    }).catch((error) => {
                        console.log(error);
                        this.$message({
                            type: "warning",
                            message: "请求异常"
                        });
                    })
                },
                loadAcademyStudent() {
                    axios.get(PATH + "/Student/academySelectStudent", {
                        params: {
                            academy: this.selectAcademy
                        }
                    }).then((success) => {
                        let res = success.data;
                        if (res.result) {
                            panel.randomStudentResult = res.data;
                        } else {
                            panel.randomStudentResult = [];
                        }
                    }).catch((error) => {
                        console.log(error);
                        this.$message({
                            type: "warning",
                            message: "请求异常"
                        });
                    })
                },
                loadAllSelectTeacher() {
                    axios.get(PATH + "/Teacher/findAllSelectTeacher", {
                        params: {}
                    }).then((success) => {
                        let res = success.data;
                        if (res.result) {
                            panel.randomTeacherResult = res.data;
                            panel.download = true;
                        } else {
                            this.$message({
                                type: "warning",
                                message: res.message
                            });
                        }
                    }).catch((error) => {
                        console.log(error);
                        this.$message({
                            type: "error",
                            message: "请求异常"
                        });
                    })
                },
                loadAllSelectStudent() {
                    axios.get(PATH + "/Student/allSelectStudent", {
                        params: {}
                    }).then((success) => {
                        let res = success.data;
                        if (res.result) {
                            panel.randomStudentResult = res.data;
                            panel.download = true;
                        } else {
                            this.$message({
                                type: "warning",
                                message: res.message
                            });
                        }
                    }).catch((error) => {
                        console.log(error);
                        this.$message({
                            type: "error",
                            message: "请求异常"
                        });
                    })
                },
                randomAllData() {
                    if (panel.selectCount === undefined || panel.selectCount === 0) {
                        this.$message({
                            type: "warning",
                            message: '请选择随机范围'
                        });
                        return;
                    }
                    axios.get(PATH + "/Student/randomAllData", {
                        params: {
                            randomCount: panel.selectCount
                        }
                    }).then((success) => {
                        let res = success.data;
                        if (res.result) {
                            panel.randomTeacherResult = [];
                            panel.randomStudentResult = [];
                            for (let o  of res.data) {
                                if (o.id < 10000) {
                                    panel.randomTeacherResult.push(o);
                                } else {
                                    panel.randomStudentResult.push(o);
                                }
                            }
                            this.$message({
                                type: "success",
                                message: "生成成功"
                            });
                            panel.clickAble = false;
                        } else {
                            this.$message({
                                type: 'warning',
                                message: res.message
                            });
                        }
                    }).catch((error) => {
                        console.log(error);
                        this.$message({
                            type: "error",
                            message: "请求异常"
                        });
                    })
                },
                saveAllRandomResult() {
                    //获取ID
                    let students = [];
                    for (let s of panel.randomStudentResult) {
                        students.push(s.id);
                    }
                    let teachers = [];
                    for (let t of panel.randomTeacherResult) {
                        teachers.push(t.id);
                    }
                    axios.get(PATH + "/Student/saveAllRandom", {
                        params: {
                            students: students,
                            teachers: teachers
                        },
                        //get 请求格式化数组参数数据
                        paramsSerializer: params => {
                            return qs.stringify(params, {indices: false})
                        }
                    }).then((success) => {
                        let res = success.data;
                        if (res.result) {
                            this.$message({
                                type: "success",
                                message: res.message
                            });
                            panel.clickAble = true;
                            panel.showSaveDialog = false
                        }
                    }).catch((error) => {
                        console.log(error);
                        this.$message({
                            type: "error",
                            message: "请求异常"
                        });
                    })
                },
                resetStudentData() {
                    if (panel.selectAcademy === "" || panel.selectAcademy === undefined) {
                        this.$message({
                            type: "warning",
                            message: "请选择院系信息"
                        });
                        return;
                    }
                    axios.get(PATH + "/Student/resetAcademyStudent", {
                        params: {
                            academy: panel.selectAcademy
                        }
                    }).then((success) => {
                        let res = success.data;
                        if (res.result) {
                            this.$message({
                                type: "success",
                                message: res.message
                            });
                            panel.randomStudentResult = [];
                        } else {
                            this.$message({
                                type: "warning",
                                message: res.message
                            })
                        }
                    }).catch((error) => {
                        console.log(error);
                        this.$message({
                            type: "error",
                            message: "请求异常"
                        });
                    })
                },
                resetTeacherData() {
                    if (panel.selectAcademy === "" || panel.selectAcademy === undefined) {
                        this.$message({
                            type: "warning",
                            message: "请选择院系信息"
                        });
                        return;
                    }
                    axios.get(PATH + "/Teacher/resetAcademyTeacher", {
                        params: {
                            academy: panel.selectAcademy
                        }
                    }).then((success) => {
                        let res = success.data;
                        if (res.result) {
                            this.$message({
                                type: "success",
                                message: res.message
                            });
                            panel.randomTeacherResult = [];
                        } else {
                            this.$message({
                                type: "warning",
                                message: res.message
                            })
                        }
                    }).catch((error) => {
                        console.log(error);
                        this.$message({
                            type: "error",
                            message: "请求异常"
                        });
                    })
                },
                resetAllTeacherData() {
                    axios.get(PATH + "/Teacher/resetAllTeacher", {
                        params: {}
                    }).then((success) => {
                        let res = success.data;
                        if (res.result) {
                            this.$message({
                                type: "success",
                                message: res.message
                            });
                            panel.randomTeacherResult = [];
                        } else {
                            this.$message({
                                type: "warning",
                                message: res.message
                            })
                        }
                    }).catch((error) => {
                        console.log(error);
                        this.$message({
                            type: "error",
                            message: "请求异常"
                        });
                    })
                },
                resetAllStudentData() {
                    axios.get(PATH + "/Student/resetAllStudent", {
                        params: {}
                    }).then((success) => {
                        let res = success.data;
                        if (res.result) {
                            this.$message({
                                type: "success",
                                message: res.message
                            });
                            panel.randomStudentResult = [];
                        } else {
                            this.$message({
                                type: "warning",
                                message: res.message
                            })
                        }
                    }).catch((error) => {
                        console.log(error);
                        this.$message({
                            type: "error",
                            message: "请求异常"
                        });
                    })
                }
            },
            created() {
                this.loadAllAcademy();
            }
        })
    ;

    const footer = new Vue({
        el: "footer",
        data: {},
        methods: {}
    });
</script>
</body>
</html>